<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.meditel.zeteo" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />


    <uses-permission android:name="android.permission.INTERNET" />

    <!-- GCM connects to Internet Services. -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Creates a custom permission so only this app can receive its messages. -->
    <permission
        android:name="app.meditel.zeteo.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="app.meditel.zeteo.permission.C2D_MESSAGE" />

    <!-- This app has permission to register and receive data message. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!-- Network State Permissions to detect Internet status -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Permission to vibrate -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/logo"
        android:theme="@style/AppTheme" >
        <activity
            android:name="app.meditel.zeteo.LogInSignUp"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="app.meditel.zeteo.main.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="app.meditel.zeteo.CommentDialog"
            android:label="@string/title_activity_comment_dialog"
            android:theme="@style/CommentTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="app.meditel.zeteo.QuestionDialog"
            android:label="@string/title_activity_comment_dialog"
            android:theme="@style/CommentTheme"
            android:windowSoftInputMode="adjustPan" />

    </application>

</manifest>